.searchbox {
    width: 50%;
}

section {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

section img {
    width: 300px;
    transition: 250ms all;
}

img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}